*{
    padding: 0;
    margin: 0;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c5bebee5;
    background-color: rgba(46, 44, 44, 0.959);

}
.container{
    max-width: 960px;
    margin: 0px auto;
}
header{
    position: fixed;
    background-color: #1f20229d;
    top:0px;
    left:0px;
    width: 100%;
    transition:all 0.5s ease-in-out;
}
header.sticky{
    background:#0a0a0aea;
    opacity: 0.9;
    padding: 10px 0px;
    box-shadow: 0px 5px 15px rgb(222, 233, 222) ;
}
header.sticky #main-menu a{
    color:rgba(86, 245, 71, 0.877);
}
header.sticky #logo img{
    max-width: 40px;
    height: auto;
    
    border-radius: 20px;
    border: 1px solid rgba(4, 241, 4, 0.555);
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
#logo{
    padding:5px 0px ;
    
}


#logo img{
    max-width: 40px;
    height: auto;
    
    border-radius: 20px;
    border: 1px solid rgba(4, 241, 4, 0.555);
    
   
}
#logo img:hover{
    background-color:  rgba(4, 241, 4, 0.486);
}
#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-menu li{
    position: relative;
}
#main-menu li a{
    color: #faf2f2;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
}
#main-menu li:hover> a{
    color:rgba(86, 245, 71, 0.877);
}
#banner{
    background: url(img/phihanhgia.png);
    background-size: 100% 100%;
    min-height: 480px;
    width: 100%;
}
#main-menu ul.sub-menu{
    position:absolute;
    background-color: #232425d7 ;
    padding: 15px 0px;
    list-style: none;
    width: 140px;
    border: 1px solid rgba(4, 241, 4, 0.555);
    display:none ;
  
}
#main-menu li:hover> ul.sub-menu{
    display: block;
    
}
#main-menu ul.sub-menu a {
    padding: 8px 15px;
    border-bottom: 1px solid rgb(90, 88, 88);
    left: 0;
}
#main-menu ul.sub-menu li:hover>a{
    border-bottom:1px solid rgba(68, 238, 46, 0.822);
}
#main-menu ul.sub-menu li:last-child a{
    border:none;
}
/* menu cấp 3 */
#main-menu ul.sub-menu ul.sub-menu {
    left: 199px;
    top:-15px;
}
/*thiết lập boder khi hover*/
#main-menu>li>a{
    position: relative;
}
#main-menu>li>a::before{
    content: "";
    height: 4px;
    width: 0px;
    background-color: rgba(86, 245, 71, 0.877);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main-menu>li:hover>a::before{
    width: 100%;
    
}
#main-menu>li.has-child::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f107";
    color: #8a8787b9;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 18px 0px;
}
#main-menu .sub-menu li:hover>a{
    color: rgba(86, 245, 71, 0.877);
} 
#main-menu>li:hover.has-child::after{
    color: rgba(86, 245, 71, 0.877);
}
#main-menu>li.home::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\e1b0";
    color: #8a8787b9;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 18px 0px;
    right:-4px;
}
#main-menu>li:hover.home::after{ 
    color:  rgba(86, 245, 71, 0.877);;
}
#main-menu>li.about::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f2bb";
    color: #8a8787b9;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 18px 0px;
    right:-4px;
}
#main-menu>li:hover.about::after{ 
    color:  rgba(86, 245, 71, 0.877);;
}
#main-menu>li.contract::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f095";
    color: #8a8787b9;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 18px 0px;
    right:-4px ;
}
#main-menu>li:hover.contract::after{ 
    color:  rgba(86, 245, 71, 0.877);;
}
.kk{
    padding: 30px 0px;
    width: 40px;

}
#content div h1{
    text-align: center;
    padding:10px 0px ;  
    border: 2px solid  rgba(43, 182, 43, 0.555) ;
    border-radius: 10px;
    
}
#content div p{
    padding: 20px 20px;
    text-align: justify;
    font-size: 1.2rem;
}
#wrapper #content{
    padding: 50px 0px;
    text-align: center;
    width:80%;
    height: 800px;
    background-color: rgba(19, 17, 17, 0.815);
    border-radius: 10px;
    
}
.lgo{
    padding-bottom: 20px;
}
.lgo img{
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    border: 3px solid rgba(4, 241, 4, 0.555);
}
#icon{
    padding-bottom: 20px;
}
#icon a{
    padding:10px 5px ;
    font-size: 30px;
    color: rgba(22, 172, 22, 0.473) ;
}
#icon a:hover{
    color: rgba(4, 241, 4, 0.555);
}
#content #id{
    float:unset;
    padding: 10px 0px;
    
    color: rgb(222, 233, 222);
    background-color: rgba(52, 54, 54, 0.856);
}
#content #id p{
    text-align: center;
    padding: 5px 0px;
    font-size: 16px;
}
#content #id a{
    font-size: 16 px;
    color: #f8f8f8;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
}
#content #id a:hover{
    color:rgba(4, 241, 4, 0.555);
}

#chan{
   text-align: center;
    width: 100%;
    height: 100px;
    background-color: rgba(33, 34, 34, 0.87);
}
#chan #icon{
    padding-top: 20px;
}
#backtop {
    font-size: 25px;
    width:50px;
    height: 50px;
    background-color: rgba(19, 17, 17, 0.815);
    color:rgba(4, 241, 4, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
}
